ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $color-dark;
    transition: 0.5s all;
}

a:hover {
    color: $color-deep-blue;
}

svg {
    height: 30px;
    cursor: pointer;
}

.custom-btn{
    border: 0;
    outline: 0;
    border: 1px solid $color-white;
    color: $color-dark;
    padding: 1rem 3.5rem;
    background-color: $color-white;
    border-radius: 50px;
    margin: 15px;
    font-weight: 600;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}