ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $color-dark1;
    transition: 0.5s all;
}

a:hover {
    color: $color-deep-blue;
}

svg {
    height: 30px;
    cursor: pointer;
}