//color

$main-bg: #E5E5E5;
$header-bg: #F4F5FA;

// color
$color-yellow: #FFD456;
$color-gold: #EEBC28;
$color-blue: #1F33D8;
$color-deep-blue: #0C20CB;
$color-white: #FFFFFF;
$color-dark: #0E133A;
$color-gray: #5B5D6D;




//font-size
$font-small: 10px;
$font-md : 16px;
$font-lg : 20px;
$font-xl : 32px;

// default size for padding margin
$small: 10px;
$md : 15px;
$lg : 20px;
$xl : 30px;