@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import './variables/variables';
@import './utilities/utilities';

html,
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: $main-bg;
    color: $color-dark;
}

/********************************************
                Navbar SCSS
*********************************************/
.brand-logo {
    img {
        width: 150px;
    }
}

header {
    background-color: $header-bg;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99999;

    .navbar-menu {
        ul {
            li {
                a {
                    line-height: 32px;
                    padding: 0.5rem;
                    margin: 0.5rem;
                    border: 2px solid transparent;
                    font-weight: 500;
                    transition: 0.5s ease;

                    &:hover {
                        border: 2px solid $color-deep-blue !important;
                        color: $color-deep-blue;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

/********************************************
                Footer SCSS
*********************************************/
footer {
    text-align: left;

    .footer-top {
        background-color: $color-blue;
        color: $color-white;
        padding: 2rem 0.5rem;
        border-bottom: 10px solid $color-yellow;

        .transaction {
            p {
                font-weight: 400;
            }

            .transaction-amount {
                font-weight: 700;
                font-size: 2.5rem;
            }
        }
    }

    .footer-nav {
        ul {
            li {
                margin: 10px 0px;
            }
        }

        .footer-social {
            ul {
                li {
                    display: inline-block;
                    margin: 0 0.5rem;

                    &:first-child {
                        margin-left: 0;
                    }

                    svg {
                        height: 2rem;
                        width: 2rem;
                    }
                }
            }
        }
    }

    .footer-inner {
        margin-left: 1rem;

        .title {
            font-weight: 700;
            line-height: 32px;
        }

        a {
            display: block;
            margin: 1rem 0;
        }
    }

    .footer-copyright {
        padding: 1rem;

        p {
            text-align: center;
            color: $color-gray;
            font-weight: 600;
            line-height: 32px;
        }
    }
}

/********************************************
                Top Banner SCSS
*********************************************/
.top-banner {
    background-color: $header-bg;

    .top-banner-details {
        p {
            font-size: 1.37rem;
            line-height: 26px;
            font-weight: 600;

            .company-name-blue {
                color: $color-deep-blue;
            }

            .company-name-yellow {
                color: $color-yellow;
            }
        }

        .top-banner-heading {
            font-size: 4rem;
            font-weight: 700;
            line-height: 100px;
        }

        .top-banner-details {
            color: $color-gray;
            font-weight: 400;
            line-height: 28px;
        }

        .top-banner-btn-group {
            .started-btn {
                background-color: $color-deep-blue;
                color: $color-white;
                border-color: $color-deep-blue;
            }

            .github-btn {
                svg {
                    height: 1.75rem;
                    width: 1.75rem;
                    margin-right: 10px;
                }
            }
        }
    }
}

/********************************************
                Wallet Section SCSS
*********************************************/
.wallet-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 4rem;

    .wallet-card {
        flex-basis: 350px;
        border-radius: 15px;
        height: 462px;
        background-color: $color-blue;
        color: $color-white;
        padding: 3rem;
        margin-top: 25px;
        position: relative;
        overflow: hidden;

        .wallet-title {
            font-size: 2.37rem;
            font-weight: 700;
            line-height: 38px;
            position: relative;
            z-index: 999;
        }

        .wallet-details {
            font-weight: 500;
            font-size: 1rem;
            line-height: 28px;
            position: relative;
            z-index: 999;
        }

        &::before {
            content: "";
            height: 113px;
            width: 234px;
            background-color: #0C20CB;
            border-radius: 56px;
            position: absolute;
            right: -11%;
            top: -4%;
            z-index: 1;
        }

        &::after {
            content: "";
            height: 75px;
            width: 120px;
            background-color: $color-deep-blue;
            border-radius: 50px;
            position: absolute;
            right: -7%;
            bottom: 35%;
            z-index: 1;
        }

        .wallet-social {
            margin-top: 30px;

            svg {
                // fill: $color-white;
                color: $color-white;
                margin-right: 15px;
                height: 2rem;
            }
        }

        .wallet-button {
            .wallet-btn {
                background-color: $color-deep-blue;
                border-color: $color-deep-blue;
                color: $color-white;
                font-size: 1.2rem;
                font-weight: 600;
                position: absolute;
                bottom: 10%;
                left: -10%;

                .btn-text {
                    margin-left: 5px;
                }

                svg {
                    margin-left: 15px;
                }
            }
        }
    }
    .wallet-safe{
        background-color: $color-yellow;
        color: $color-dark;
        &::before {
            background-color: $color-gold;
        }

        &::after {
            background-color: $color-gold;
            
        }
        .wallet-social{
            svg{
                color: $color-dark;
            }
        }
    }
}